#### The Method Information

-   We all know that in a supervised classifier ML problem we split the data into training and testing set. If to simplify this more , we have a total number of 10 data points , it's a bank customer data for loan prediction. each data point contains four columns. 

            -   Cust_id
            -   CIBIL Score
            -   Annual Income
            -   Loan to be given (Yes or No) - Target Variable

In [182]:
# Lets create a dataframe here with neccessary libraries
import pandas as pd
bank = pd.DataFrame(data=[['cut_01',750,550000,'Yes'],
                          ['cut_02',760,450000,'Yes'],
                          ['cut_03',650,390000,'No'],
                          ['cut_04',680,1050000,'Yes'],
                          ['cut_05',710,450000,'No'],
                          ['cut_06',690,500000,'No'],
                          ['cut_07',720,550000,'No'],
                          ['cut_08',700,350000,'No'],
                          ['cut_09',630,850000,'No'],
                          ['cut_10',660,1550000,'Yes']],columns=['Cust_id','CIBIL','Annual_Income','Loan'])

In [183]:
bank.head()

  Cust_id  CIBIL  Annual_Income Loan
0  cut_01    750         550000  Yes
1  cut_02    760         450000  Yes
2  cut_03    650         390000   No
3  cut_04    680        1050000  Yes
4  cut_05    710         450000   No

-   Now out of this 10 data points , we need to do a split of training and testing. Based on the training data the Model will be trained and then the model will be evaluated against the test dataset. 
-   The method states that while doing this splitting if we keep more number of data in the training data set , the our model will be well trained just like the situation where a teacher is imparting more and more knowledge into the student so that they perform well in the exam. In the same context if our model has more training data into it then it is bound to perform better with higher accuracy and lower error rate.
-   The method also states thet if on the contray we take more data into the test dataset , then it will greatly help in evaluating the model , in terms of error rate and accuracy , just like before main exam if multiple tests are taken , then evaluating those tests , it would be easier to identify the strength and weaknesses of the student and accordingly the student can prepare for the main exam

#### Example of including more data into training dataset

In [184]:
# Let's divide our data into x and y , x will contain the features and y will contain the target variable
x = bank[['Cust_id','CIBIL','Annual_Income']]
y = bank[['Loan']]

In [185]:
x.head()

  Cust_id  CIBIL  Annual_Income
0  cut_01    750         550000
1  cut_02    760         450000
2  cut_03    650         390000
3  cut_04    680        1050000
4  cut_05    710         450000

In [186]:
y.head()

  Loan
0  Yes
1  Yes
2   No
3  Yes
4   No

In [187]:
# Now we can see that cust_id as an feature is not adding any value to our model , so let's drop it from x
x = x.drop(['Cust_id'],axis =1)

In [188]:
x.head()

   CIBIL  Annual_Income
0    750         550000
1    760         450000
2    650         390000
3    680        1050000
4    710         450000

In [189]:
# the next thing that we need to do is encode our y dataframe , yes will be converted into 1 and no will be converted into 0
# we will use labelencoder for this.
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y['Loan'] = le.fit_transform(y['Loan'])

C:\Users\sengu\AppData\Local\Temp\ipykernel_16600\2553550908.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['Loan'] = le.fit_transform(y['Loan'])

In [190]:
y.head()

   Loan
0     1
1     1
2     0
3     1
4     0

In [191]:
# Now we need to convert our x column with the help of minmaxscaler so that all data points are leveled into same scale
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = scaler.fit_transform(x)

In [192]:
x = pd.DataFrame(x)

In [193]:
x.head()

          0         1
0  0.923077  0.166667
1  1.000000  0.083333
2  0.153846  0.033333
3  0.384615  0.583333
4  0.615385  0.083333

In [194]:
# let's rename the columns as per our data
x.rename(columns={0:'CIBIL',1:'Annual Income'},inplace=True)

In [195]:
x.head()

      CIBIL  Annual Income
0  0.923077       0.166667
1  1.000000       0.083333
2  0.153846       0.033333
3  0.384615       0.583333
4  0.615385       0.083333

In [196]:
#now lets convert our x and y into numpy arrays
import numpy as np
x = np.array(x)
y = np.array(y)

In [197]:
# Now let's split our data into training and testing set , we will take 80% of our data into training set and rest 20% into testing set
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

In [198]:
print(f'the shape of xtrain is {xtrain.shape}')
print(f'the shape of xtest is {xtest.shape}')
print(f'the shape of ytrain is {ytrain.shape}')
print(f'the shape of ytest is {ytest.shape}')

the shape of xtrain is (8, 2)
the shape of xtest is (2, 2)
the shape of ytrain is (8, 1)
the shape of ytest is (2, 1)

In [199]:
# lets use the k nearest neighbor classifier here for classification
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(xtrain,ytrain)

d:\Anaconda\envs\github1\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [200]:
print(f'The trainig set score is {knn.score(xtrain,ytrain)}')
print(f'The test set score is {knn.score(xtest,ytest)}')

The trainig set score is 0.75
The test set score is 0.5

As our data is randomly taken and manually given hence expecting a score better than 50% is kind of a crime. Anyways let's look into another statement that our method implies.

-   If we provide more data into our testing set then we will be able to evaluate our error terms better. So right now i am providing 40% data into testing to see if my score goes down and error rate goes up.

In [201]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.4)
knn = KNeighborsClassifier()
knn.fit(xtrain,ytrain)

d:\Anaconda\envs\github1\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [202]:
print(f'The trainig set score is {knn.score(xtrain,ytrain)}')
print(f'The test set score is {knn.score(xtest,ytest)}')

The trainig set score is 0.5
The test set score is 0.75

We can see that with high number of testing data my test score is getting improved but my training score is dropping. The method also implies as below -

-   if we consider more and more data points from our main data into testing dataset then it might happen that as per our record here all 'yes' termed record is getting into the test dataset and hence the training data is only getting the 'No' termed data in it. Hence the trained model is unable to classify or perform well in the records where the target variable value is 'yes'.
-   To avoid this scenario we use stratify our train and test splitting

In [203]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.4,stratify=y)
knn = KNeighborsClassifier()
knn.fit(xtrain,ytrain)

d:\Anaconda\envs\github1\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [204]:
print(f'The trainig set score is {knn.score(xtrain,ytrain)}')
print(f'The test set score is {knn.score(xtest,ytest)}')

The trainig set score is 0.6666666666666666
The test set score is 0.5

##### Random State

-   To ensure the same training and testing data to be captured by model on each run , we set the random state parameter to 42 as below

In [205]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.4,random_state=42,stratify=y)
knn = KNeighborsClassifier()
knn.fit(xtrain,ytrain)
print(f'The trainig set score is {knn.score(xtrain,ytrain)}')
print(f'The test set score is {knn.score(xtest,ytest)}')

The trainig set score is 0.6666666666666666
The test set score is 0.5

d:\Anaconda\envs\github1\lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

#### Hold Out Method Assumption

-   The hold-out method involves splitting the data into multiple parts and using one part for training the model and the rest for validating and testing it. It can be used for both model evaluation and selection.
-   The method states that while doing this splitting if we keep more number of data in the training data set , the our model will be well trained just like the situation where a teacher is imparting more and more knowledge into the student so that they perform well in the exam. In the same context if our model has more training data into it then it is bound to perform better with higher accuracy and lower error rate.
-   The method also states thet if on the contray we take more data into the test dataset , then it will greatly help in evaluating the model , in terms of error rate and accuracy , just like before main exam if multiple tests are taken , then evaluating those tests , it would be easier to identify the strength and weaknesses of the student and accordingly the student can prepare for the main exam.
-   If we provide more data into our testing set then we will be able to evaluate our error terms better. So right now i am providing 40% data into testing to see if my score goes down and error rate goes up.
-   if we consider more and more data points from our main data into testing dataset then it might happen that as per our record here all 'yes' termed record is getting into the test dataset and hence the training data is only getting the 'No' termed data in it. Hence the trained model is unable to classify or perform well in the records where the target variable value is 'yes'.
-   To avoid this scenario we use stratify our train and test splitting.

#### Repeated Hold Out Mehod

-   This method suggests that the train test splitting will be done randomly multiple times and each time we will be identifying the error estimate.
-   All the error estimate that's generated , we will take the average of that to find the final error estimate.